beautifulsoup4==4.9.1
certifi==2022.12.7
chardet==3.0.4
idna==2.10
Jinja2==2.11.2
MarkupSafe==1.1.1
pyobjc-core==6.2.2
pyobjc-framework-Cocoa==6.2.2
requests==2.23.0
rumps==0.3.0
soupsieve==2.0.1
urllib3==1.25.9
py2app==0.21
